@import "start-params";
@import "vars";
@import "swiper-bundle";
@import "fresco";
//@import "selectric";
////@import "jquery.mCustomScrollbar";
@import "aos";
@import "preloader";
@import "breadcrumbs";

$transition: 0.2s;


html{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
// GENERAL DOCUMENT STYLES
* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#main{
  overflow: hidden;
  flex: 1;
}
img{
  max-width: 100%;
}
.section-title{
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #131C42;
  text-align: center;
}
.section-subtitle{
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #ABB2D0;
  text-align: center;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  filter: grayscale(100);
}
.locked{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.main-container{
  max-width: 1920px;
  margin: auto;
  @extend .padding-left;
  @extend .padding-right;
}
.content-container{
  max-width: 1400px;
  margin: auto;
  @extend .padding-left;
  @extend .padding-right;
}
.padding-left{
  padding-left: 50px;
  @media all and (max-width: 1400px){
    padding-left: 45px;
  }
  @media all and (max-width: 1024px){
    padding-left: 35px;
  }
  @media all and (max-width: 500px){
    padding-left: 20px;
  }
}
.padding-right{
  padding-right: 50px;
  @media all and (max-width: 1400px){
    padding-right: 45px;
  }
  @media all and (max-width: 1024px){
    padding-right: 35px;
  }
  @media all and (max-width: 500px){
    padding-right: 20px;
  }
}
.blue-button{
  background: #0074FF;
  border-radius: 5px;
  padding: 16px 15px 15px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid #0074FF;
  transition: $transition;
  span{
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: $transition;
  }
  &:hover{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    span{
      color: #FFFFFF;
    }
  }
}
.darkblue-button{
  background: #131C42;
  border-radius: 5px;
  padding: 22px 22px 22px 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid #131C42;
  transition: $transition;
  span{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: $transition;
  }
  &:hover{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    span{
      color: #FFFFFF;
    }
  }
}
@import "parts/header";

@import "parts/banner";
@import "parts/activity";
@import "parts/offer";
@import "parts/range";
@import "parts/works";
@import "parts/news";
@import "parts/map";

@import "parts/footer";