.contacts{
  margin-bottom: 78px;
  &__container{

  }
  &__title{
    margin-bottom: 26px;
  }
  &__tabs{
    text-align: center;
  }
  &__list{
    margin-top: 30px;
  }
  &__item{
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    &.active{
      display: flex;
    }
    &-map{
      width: calc(50% - 34px);
      min-height: 610px;
      [class*="ymaps-2-1"][class*="-ground-pane"] {
        -webkit-filter: grayscale(100%);
      }
    }
    &-content{
      padding: 77px calc((100vw - 1300px) / 2) 77px 0;
      width: calc(50% - 34px);
    }
  }
}