.works-page{
  margin-bottom: 110px;
  &__container{

  }
  &__title{
    margin-bottom: 10px;
  }
  &__subtitle{
    margin-bottom: 39px;
  }
  .category__search{
    margin-bottom: 50px;
    .category__group{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
  &__rubrik{
    margin: 0 20px 0 0;
    padding: 15px 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    background-color: #ABB2D0;
    box-shadow: 0px 5px 50px rgba(19, 28, 66, 0.1);
    border-radius: 5px;
    margin-bottom: 23px;
    cursor: pointer;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
    &.active{
      background-color: #0074FF;
    }
  }
  &__contents{
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    width: calc(100% + 20px);
  }
  &__item{
    width: calc(33.3333% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 50px rgba(19, 28, 66, 0.1);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
    }
  }
  &__show{
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 22px);
  }
  .pagination{
    width: 100%;
  }
}